.cases{
    display:flex;
    justify-content: space-around;

}
.normal{
    border : 3px solid black;

}
body{
    background-color:black;
    width:1900px;
}
iframe{
    position: absolute; /* Sit on top of the page content */
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 255); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    height: 200px;
    width:12%;
}